html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(10, 20, 30);
    position: fixed;
    width: 100%;
    z-index: 1;
}
  

nav li {
    color: rgb(200, 200, 200);
    font-family: 'Gantari', sans-serif;
    font-weight: 100;
    font-size: 20px;
    display: inline-block;
    width: 0 auto;
    padding: 10px;
  }


.column.middle {
    color:rgb(10, 20, 30);
    background-color: blueviolet;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }