html {
  font-family: "Gantari", sans-serif;
  font-size: 20px;
}

main {
  position: relative;
}

.banner {
  background: no-repeat url("../images/tom-strecker-Y4N_gAVowbo-unsplash.jpg")
    center top / cover;
  background-attachment: fixed;
  height: 30rem;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgb(10, 20, 30);
}

header .top-nav {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 1rem;
  padding-right: 0.25rem;
}

nav li {
  font-weight: 100;
  display: inline-block;
  width: 0 auto;
  padding-right: 1rem;
}

nav li a {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

nav li a:active {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

nav li a:hover {
  color: rgb(200, 200, 100);
  text-decoration: none;
}

.content {
  color: rgb(200, 200, 200);
  align-items: center;
}

.chapters {
  position: relative;
  top: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.chapter {
  display: flex;
  height: 200px;
  width: 400px;
  background-color: black;
  border-radius: 10px;
  color: white;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  height: 10rem;
  background-color: rgb(10, 20, 30);
  justify-content: center;
}

footer {
  position: relative;
  display: flex;
  z-index: 1;
  width: auto;
  background-color: rgb(10, 20, 30);
  padding: 3rem;
  justify-content: center;
  margin-bottom: 0;
}

footer .bot-nav {
  border-top: 1px solid rgb(200, 200, 200);
  display: flex;
  align-items: center;
  color: white;
  height: 2.5rem;
  width: 90%;
}
