html {
  font-family: "Gantari", sans-serif;
  font-size: 20px;
}

.background {
  background-image: url("../images/tom-strecker-Y4N_gAVowbo-unsplash.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 38rem;
}

.content {
  padding-top: 4rem;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgb(10, 20, 30);
}

header .top-nav {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 1rem;
}

nav li {
  font-weight: 100;
  display: inline-block;
  width: 0 auto;
  padding-right: 1rem;
}

nav li a {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

nav li a:active {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

nav li a:hover {
  color: rgb(200, 200, 100);
  text-decoration: none;
}

.content {
  color: rgb(200, 200, 200);
  align-items: center;
}
