html {
  font-family: "Gantari", sans-serif;
  font-size: 20px;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgb(10, 20, 30);
  padding: 1rem;
}

nav .top-nav {
  display: flex;
  font-family: "Gantari", sans-serif;
  font-size: 20px;
}

nav li {
  font-weight: 100;
  display: inline-block;
  width: 0 auto;
  padding-right: 1rem;
}

nav li a {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

nav li a:active {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

nav li a:hover {
  color: rgb(200, 200, 100);
  text-decoration: none;
}

ul .site-links {
  float: right;
}
